In [2]:
!python -m spacy download en_core_web_md

Collecting en_core_web_md==2.0.0 from https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.0.0/en_core_web_md-2.0.0.tar.gz#egg=en_core_web_md==2.0.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.0.0/en_core_web_md-2.0.0.tar.gz (120.8MB)
    100% |████████████████████████████████| 120.9MB 29.7MB/s ta 0:00:011
Installing collected packages: en-core-web-md
  Running setup.py install for en-core-web-md ... done
Successfully installed en-core-web-md-2.0.0

    Linking successful
    /home/santosh/Anaconda/envs/nlp_course/lib/python3.7/site-packages/en_core_web_md
    -->
    /home/santosh/Anaconda/envs/nlp_course/lib/python3.7/site-packages/spacy/data/en_core_web_md

    You can now load the model via spacy.load('en_core_web_md')

In [3]:
!python -m spacy download en_core_web_lg

Collecting en_core_web_lg==2.0.0 from https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.0.0/en_core_web_lg-2.0.0.tar.gz#egg=en_core_web_lg==2.0.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.0.0/en_core_web_lg-2.0.0.tar.gz (852.3MB)
    100% |████████████████████████████████| 852.3MB 34.1MB/s ta 0:00:011
Installing collected packages: en-core-web-lg
  Running setup.py install for en-core-web-lg ... done
Successfully installed en-core-web-lg-2.0.0

    Linking successful
    /home/santosh/Anaconda/envs/nlp_course/lib/python3.7/site-packages/en_core_web_lg
    -->
    /home/santosh/Anaconda/envs/nlp_course/lib/python3.7/site-packages/spacy/data/en_core_web_lg

    You can now load the model via spacy.load('en_core_web_lg')

In [4]:
import spacy

In [5]:
nlp = spacy.load('en_core_web_lg')

In [6]:
nlp(u'lion').vector

array([ 1.8963e-01, -4.0309e-01,  3.5350e-01, -4.7907e-01, -4.3311e-01,
        2.3857e-01,  2.6962e-01,  6.4332e-02,  3.0767e-01,  1.3712e+00,
       -3.7582e-01, -2.2713e-01, -3.5657e-01, -2.5355e-01,  1.7543e-02,
        3.3962e-01,  7.4723e-02,  5.1226e-01, -3.9759e-01,  5.1333e-03,
       -3.0929e-01,  4.8911e-02, -1.8610e-01, -4.1702e-01, -8.1639e-01,
       -1.6908e-01, -2.6246e-01, -1.5983e-02,  1.2479e-01, -3.7276e-02,
       -5.7125e-01, -1.6296e-01,  1.2376e-01, -5.5464e-02,  1.3244e-01,
        2.7519e-02,  1.2592e-01, -3.2722e-01, -4.9165e-01, -3.5559e-01,
       -3.0630e-01,  6.1185e-02, -1.6932e-01, -6.2405e-02,  6.5763e-01,
       -2.7925e-01, -3.0450e-03, -2.2400e-02, -2.8015e-01, -2.1975e-01,
       -4.3188e-01,  3.9864e-02, -2.2102e-01, -4.2693e-02,  5.2748e-02,
        2.8726e-01,  1.2315e-01, -2.8662e-02,  7.8294e-02,  4.6754e-01,
       -2.4589e-01, -1.1064e-01,  7.2250e-02, -9.4980e-02, -2.7548e-01,
       -5.4097e-01,  1.2823e-01, -8.2408e-02,  3.1035e-01, -6.3394e-02,
       -7.3755e-01, -5.4992e-01,  9.9999e-02, -2.0758e-01, -3.9674e-02,
        2.0664e-01, -9.7557e-02, -3.7092e-01,  2.7901e-01, -6.2218e-01,
       -1.0280e-01,  2.3271e-01,  4.3838e-01,  3.2445e-02, -2.9866e-01,
       -7.3611e-02,  7.1594e-01,  1.4241e-01,  2.7770e-01, -3.9892e-01,
        3.6656e-02,  1.5759e-01,  8.2014e-02, -5.7343e-01,  3.5457e-01,
        2.2491e-01, -6.2699e-01, -8.8106e-02,  2.4361e-01,  3.8533e-01,
       -1.4083e-01,  1.7691e-01,  7.0897e-02,  1.7951e-01, -4.5907e-01,
       -8.2120e-01, -2.6631e-02,  6.2549e-02,  4.2415e-01, -8.9630e-02,
       -2.4654e-01,  1.4156e-01,  4.0187e-01, -4.1232e-01,  8.4516e-02,
       -1.0626e-01,  7.3145e-01,  1.9217e-01,  1.4240e-01,  2.8511e-01,
       -2.9454e-01, -2.1948e-01,  9.0460e-01, -1.9098e-01, -1.0340e+00,
       -1.5754e-01, -1.1964e-01,  4.9888e-01, -1.0624e+00, -3.2820e-01,
       -1.1232e-02, -7.9482e-01,  3.7275e-01, -6.8710e-03, -2.5772e-01,
       -4.7005e-01, -4.1387e-01, -6.4089e-02, -2.8033e-01, -4.0778e-02,
       -2.4866e+00,  6.2494e-03, -1.0210e-02,  1.2752e-01,  3.4965e-01,
       -1.2571e-01,  3.1570e-01,  4.1926e-01,  2.0056e-01, -5.5984e-01,
       -2.2801e-01,  1.2012e-01, -2.0518e-03, -8.9764e-02, -8.0373e-02,
        1.1969e-02, -2.6978e-01,  3.4829e-01,  7.3664e-03, -1.1137e-01,
        6.3410e-01,  3.8449e-01, -6.2248e-01,  4.1145e-02,  2.5922e-01,
        6.5811e-01, -4.9548e-01, -1.3030e-01, -3.8279e-01,  1.1156e-01,
       -4.3085e-01,  3.4473e-01,  2.7109e-02, -2.5108e-01, -2.8011e-01,
        2.1662e-01,  3.2660e-01,  5.5895e-02,  7.6077e-02, -5.2480e-02,
        4.5928e-02, -2.5266e-01,  5.2845e-01, -1.3145e-01, -1.2453e-01,
        4.0556e-01,  3.1877e-01,  2.4415e-02, -2.2620e-01, -6.1960e-01,
       -4.0886e-01, -3.5534e-02, -5.5123e-03,  2.3438e-01,  8.7854e-01,
       -2.5161e-01,  4.0600e-01, -4.4284e-01,  3.4934e-01, -5.6429e-01,
       -2.3676e-01,  6.2199e-01, -2.8175e-01,  4.2024e-01,  1.0043e-01,
       -1.4720e-01,  4.9593e-01, -3.5850e-01, -1.3998e-01, -2.7494e-01,
        2.3827e-01,  5.7268e-01,  7.9025e-02,  1.7872e-02, -2.1829e-01,
        5.5050e-02, -5.4200e-01,  1.6788e-01,  3.9065e-01,  3.0209e-01,
        2.3040e-01, -3.9351e-02, -2.1078e-01, -2.7224e-01,  1.6907e-01,
        5.4819e-01,  9.4888e-02,  7.9798e-01, -6.6158e-02,  1.9844e-01,
        2.0307e-01,  4.4808e-02, -1.0240e-01, -6.9909e-02, -3.6756e-02,
        9.5159e-02, -2.7830e-01, -1.0597e-01, -1.6276e-01, -1.8211e-01,
       -3.1897e-01, -2.1633e-01,  1.4994e-01, -7.2057e-02,  2.2264e-01,
       -4.5551e-01,  3.0341e-01,  1.8431e-01,  2.1681e-01, -3.1940e-01,
        2.6426e-01,  5.8106e-01,  5.4635e-02,  6.3238e-01,  4.3169e-01,
        9.0343e-02,  1.9494e-01,  3.5483e-01, -2.0706e-02, -7.3117e-01,
        1.2941e-01,  1.7418e-01, -1.5065e-01,  5.3355e-02,  4.4794e-02,
       -1.6600e-01,  2.2007e-01, -5.3970e-01, -2.4968e-01, -2.6464e-01,
       -5.5515e-01,  5.8242e-01,  2.2295e-01,  2.4433e-01,  4.5275e-01,
        3.4693e-01,  1.2255e-01, -3.9059e-02, -3.2749e-01, -2.7891e-01,
        1.3766e-01,  3.8392e-01,  1.0543e-03, -1.0242e-02,  4.9205e-01,
       -1.7922e-01,  4.1215e-02,  1.3547e-01, -2.0598e-01, -2.3194e-01,
       -7.7701e-01, -3.8237e-01, -7.6383e-01,  1.9418e-01, -1.5441e-01,
        8.9740e-01,  3.0626e-01,  4.0376e-01,  2.1738e-01, -3.8050e-01],
      dtype=float32)

In [9]:
nlp(u'The quick brown fox jumped').vector.shape

(300,)

Above the vector size is still 300 because it takes the average of the vectors of all the words inside the document

In [10]:
tokens = nlp(u'lion cat pet')

In [11]:
for token1 in tokens:
    for token2 in tokens:
        print(token1.text, token2.text, token1.similarity(token2))

lion lion 1.0
lion cat 0.5265437
lion pet 0.39923772
cat lion 0.5265437
cat cat 1.0
cat pet 0.7505456
pet lion 0.39923772
pet cat 0.7505456
pet pet 1.0

The similarity between tokens is expressed from 0-1. Since we have a

In [12]:
tokens = nlp(u'like love hate')

In [13]:
for token1 in tokens:
    for token2 in tokens:
        print(token1.text, token2.text, token1.similarity(token2))

like like 1.0
like love 0.65790397
like hate 0.6574652
love like 0.65790397
love love 1.0
love hate 0.6393099
hate like 0.6574652
hate love 0.6393099
hate hate 1.0

Here if we see "Love" and "hate" are exactly opposite but still have a similarity score close to that of "like" and "love". This is because "Love" and "Hate" are sometimes used in similar context

In [17]:
tokens = nlp(u"dog cat nargil santosh")

In [18]:
for token in tokens:
    print(token.text, token.has_vector, token.vector_norm, token.is_oov)

dog True 7.0336733 False
cat True 6.6808186 False
nargil False 0.0 True
santosh True 6.9398174 True

In [38]:
from scipy import spatial

cosine_similarity = lambda vec1,vec2: 1-spatial.distance.cosine(vec1, vec2)

In [39]:
king = nlp.vocab['king'].vector
man = nlp.vocab['man'].vector
woman = nlp.vocab['woman'].vector

In [40]:
new_vector = king -man + woman

In [41]:
computed_similarities = []

for word in nlp.vocab:
    if word.has_vector and word.is_lower and word.is_alpha:
        similarity  = cosine_similarity(new_vector, word.vector)
        computed_similarities.append((word, similarity))

In [23]:
computed_similarities = sorted(computed_similarities, key=lambda item:-item[1])

Here "-" symbol indicates sorting in descending order and index 1 indicates sorting on the similarity value

In [24]:
print([t[0].text for t in computed_similarities[:10]])

['king', 'queen', 'prince', 'kings', 'princess', 'royal', 'throne', 'queens', 'monarch', 'kingdom']

In [42]:
x = computed_similarities[0:5]

In [43]:
for i in range(5):
    print(x[i])

(<spacy.lexeme.Lexeme object at 0x7f7c59d0d5a0>, 0.018078623339533806)
(<spacy.lexeme.Lexeme object at 0x7f7c59f9f0a0>, 0.034739524126052856)
(<spacy.lexeme.Lexeme object at 0x7f7c5a49a0f0>, -0.06031614914536476)
(<spacy.lexeme.Lexeme object at 0x7f7c5b4fa370>, -0.0755949541926384)
(<spacy.lexeme.Lexeme object at 0x7f7c5a3a42d0>, 0.06920962780714035)

In [44]:
x_ = sorted(x, key=lambda item:-item[1])

In [45]:
for i in range(5):
    print(x_[i])

(<spacy.lexeme.Lexeme object at 0x7f7c5a3a42d0>, 0.06920962780714035)
(<spacy.lexeme.Lexeme object at 0x7f7c59f9f0a0>, 0.034739524126052856)
(<spacy.lexeme.Lexeme object at 0x7f7c59d0d5a0>, 0.018078623339533806)
(<spacy.lexeme.Lexeme object at 0x7f7c5a49a0f0>, -0.06031614914536476)
(<spacy.lexeme.Lexeme object at 0x7f7c5b4fa370>, -0.0755949541926384)

SENTIMENT ANALYSIS

We have already explored text classification and using it to predict sentiment labels on pre-labeled movie reviews. 
But what if we don't already have those labels?

    VADER(Valence Aware Dictionary for Sentiment Reasoning) is a model used for text sentiment analysis that is sensitive to both polarity (positive / negative) and intensity (strength) of emotion.
    
    It is available in NLTK package and can be applied directly to unlabeled text data. 
    
    Primarily VADER sentiment analysis relies on a dictionary which maps lexical features to emotion intensities called sentiment scores. 
    The sentiment score of text can be obtained by summing up the intensity of each word in the text
    
    For example words like "love, like, enjoy, happy" all convey a positive sentiment. VADER is intelligent to understand the basic context of these words, such as "did not love" as a negative sentiment.
    
    It also understands capitalization and punctuation, such as "LOVE!!!". THE word "love" in small letters has less weightage than the word "love" in all capitals and exclamation mark. 
    
    Sentiment analysis on raw text is always challenging however, due to a variety of possible factors:
    => Positive and Negative sentiment in the same text data. Like in a movie review they praise the actor for his acting but will write negative remarks on the screenplay
    => Sarcasm using positive words in a negative way.

In [46]:
import nltk

/home/santosh/Anaconda/envs/nlp_course/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

In [47]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/santosh/nltk_data...

True

In [48]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [49]:
sid = SentimentIntensityAnalyzer()

In [50]:
a = "This is a good movie"

In [51]:
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404}

The above returns a dictionary of 4 values "neg, neu, pos, compound", "compound" is basically a value obtained after normalizing the other 3 values

In [52]:
a = "This was the best, most awesome movie EVER MADE!!!"

In [53]:
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.425, 'pos': 0.575, 'compound': 0.8877}

Here if we see because of the exclamation mark, the positive scores improves and the neutral score drops and the overall compound scores improves very rapidly

In [54]:
a="This was the WORST movie that has ever disgraced the screen."

In [55]:
sid.polarity_scores(a)

{'neg': 0.465, 'neu': 0.535, 'pos': 0.0, 'compound': -0.8331}

Here if we see the compound score went to negative. If,

compound > 0.0 (A somewhat positive sentiment)
compound == 0.0 (neutral sentiment)
compound < 0.0 (A somewhat negative sentiment)

In [57]:
import pandas as pd

In [58]:
df = pd.read_csv("../UPDATED_NLP_COURSE/TextFiles/amazonreviews.tsv", sep = "\t")

In [59]:
df.head()

  label                                             review
0   pos  Stuning even for the non-gamer: This sound tra...
1   pos  The best soundtrack ever to anything.: I'm rea...
2   pos  Amazing!: This soundtrack is my favorite music...
3   pos  Excellent Soundtrack: I truly like this soundt...
4   pos  Remember, Pull Your Jaw Off The Floor After He...

In [60]:
len(df)

10000

In [61]:
df['label'].unique()

array(['pos', 'neg'], dtype=object)

In [63]:
df['label'].value_counts()

neg    5097
pos    4903
Name: label, dtype: int64

In [64]:
df.dropna(inplace=True)

In [65]:
blanks = []

for i, lb, rv in df.itertuples():
    if type(rv) == str and rv.isspace():
        blanks.append(i)

In [66]:
len(blanks)
# If blanks had some indexes then df.drop(blanks, inplace=True)

0

In [67]:
sid.polarity_scores(df.iloc[0]['review'])

{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'compound': 0.9454}

The overall compound score is positive

In [68]:
df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))

In [69]:
df.head()

,label,review,scores
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co..."
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co..."
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com..."
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com..."
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp..."

In [70]:
df['compound'] = df['scores'].apply(lambda d: d['compound'])

In [81]:
df.head()

,label,review,scores,compound,compound_score_label
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...",0.9454,pos
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...",0.8957,pos
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...",0.9858,pos
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...",0.9814,pos
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...",0.9781,pos

In [82]:
df['compound_score_label'] = df['compound'].apply(lambda c: 'pos' if c>0.0 else 'neg')

In [83]:
df.head()

,label,review,scores,compound,compound_score_label
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...",0.9454,pos
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...",0.8957,pos
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...",0.9858,pos
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...",0.9814,pos
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...",0.9781,pos

In [84]:
from sklearn import metrics

In [85]:
print(metrics.classification_report(df['label'], df['compound_score_label']))

              precision    recall  f1-score   support

         neg       0.85      0.53      0.65      5097
         pos       0.65      0.90      0.75      4903

   micro avg       0.71      0.71      0.71     10000
   macro avg       0.75      0.72      0.70     10000
weighted avg       0.75      0.71      0.70     10000

In [86]:
print(metrics.confusion_matrix(df['label'], df['compound_score_label']))

[[2709 2388]
 [ 490 4413]]

In [87]:
print(metrics.accuracy_score(df['label'], df['compound_score_label']))

0.7122

CODE ALONG MOVIE PROJECT

In [89]:
import numpy as np
import pandas as pd

In [90]:
df = pd.read_csv('../UPDATED_NLP_COURSE/TextFiles/moviereviews.tsv', sep='\t')

In [91]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [92]:
df.dropna(inplace=True)

In [93]:
len(df)

1965

In [94]:
blank = []

for i, lb, rv in df.itertuples():
    if type(rv) == str and rv.isspace():
        blank.append(i)

        
df.drop(blank, inplace=True)

In [95]:
df['label'].value_counts()

neg    969
pos    969
Name: label, dtype: int64

In [96]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [97]:
sid = SentimentIntensityAnalyzer()

In [98]:
df['scores'] = df['review'].apply(lambda rv: sid.polarity_scores(rv))

In [99]:
df.head()

,label,review,scores
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co..."
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com..."
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com..."
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co..."
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com..."

In [102]:
df['compound'] = df['scores'].apply(lambda sc: sc['compound'])

In [103]:
df.head()

,label,review,scores,compound
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...",0.9953
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...",0.9972
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...",-0.7264

In [105]:
df['pred_label'] = df['compound'].apply(lambda c: 'pos' if c>0.0 else 'neg')

In [106]:
from sklearn import metrics

In [107]:
print(metrics.confusion_matrix(df['label'], df['pred_label']))

[[427 542]
 [162 807]]

In [108]:
print(metrics.classification_report(df['label'], df['pred_label']))

              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

   micro avg       0.64      0.64      0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938

In [109]:
print(metrics.accuracy_score(df['label'], df['pred_label']))

0.6367389060887513